.olist-logo {

}





.footer a {
    margin-bottom: 15px;
    display: inline-block;
    color: #444;
}




.product-list-item .box .subtitle {
    margin-bottom: 0;
}

.product-list-item .box .price {
    color: #888;
}
html {
    height: 100%;
    min-height: 100%;
}



footer {
    margin-top: auto;
	background-color: #EAEAF4;

}