<footer class="bg-primary text-white">
            <div class="container d-flex justify-content-around align-items-center w-100 py-5" >
                <div class="footer-box">
                    <figcaption>
                        <h2 class="display-6 fw-bold bold text-white py-3">olist</h2>
                        <p>Av. Cândido Hartmann, 590</p>
                        <p>Mercês, Curitiba – PR</p>
                        <p> 80730-440. </p>
                    </figcaption>
                </div>
                <div class="footer-box">
                    <figcaption>
                        <h4 class="display-9 fw-bold text-white py-3">soluções</h4>
                        <p >olist store</p>
                        <p>olist shops</p>
                        <p>olist pax</p>
                        <p>olist premium</p>
                    </figcaption>
                </div>
                <div class="footer-box">
                    <figcaption>
                        <h4 class="display-9 fw-bold text-white py-3">olist Store</h4>
                        <p>conheça a plataforma</p>
                        <p>planos e preços</p>
                        <p>marketplaces integrados</p>
                        <p>parceiros e integrações</p>
                    </figcaption>
                </div>
                <div class="footer-box">
                    <figcaption>
                        <h4 class="display-9 fw-bold text-white py-3">o olist</h4>
                        <p>nossa história</p>
                        <p>blog</p>
                        <p>carreira</p>
                        <p>propriedade intelectual</p>
                    </figcaption>
                </div>
            </div>
        </footer>