{% extends 'base.html' %}
{% load static %}
{% block title %}Pagina inicial | {%endblock%}
{% block content%}


<div class="columns is-multiline mb-6">


<div class="column is-3 product-list-item">
    <div class="box">
            
                <h2 class="subtitle">Olist store</h2>

                <h3 class="price is-size-6 mb-5">inicie, aumente ou consolide suas vendas em marketplaces</h3>

                <hr>

                <a href="https://olist.com/olist-store/" class="btn btn-primary is-uppercase">conheca olist store</a>
            </div>
    </div>


<div class="column is-3 product-list-item">
    <div class="box">
            
                <h2 class="subtitle">Olist shops</h2>

                <h3 class="price is-size-6 mb-5">crie sua vitrine virtual em minutos e venda online</h3>

                <hr>

                <a href="https://www.olistshops.com/?_ga=2.7032183.494720452.1624148827-2073576502.1624148827" class="btn btn-primary is-uppercase">conheca olist shops</a>
            </div>
    </div>




<div class="column is-3 product-list-item">
    <div class="box">
             
        <h2 class="subtitle">Olist pax</h2>

        <h3 class="price is-size-6 mb-5">ganhe competitividade logística com custos reduzidos.</h3>

        <hr>

    <a href="https://download.olist.com/pax?_ga=2.7032183.494720452.1624148827-2073576502.1624148827" class="btn btn-primary is-uppercase">conheca olist pax</a>
    </div>
    </div>
<div class="column is-3 product-list-item">
    <div class="box">
            
                <h2 class="subtitle">Olist shops</h2>

                <h3 class="price is-size-6 mb-5">solução de vendas sob medida para grandes operações</h3>

                <hr>

                <a href="https://olist.com/olist-premium/" class="btn btn-primary is-uppercase">conheca olist premium</a>
            </div>
    </div>
 <div class="container">
        <img class="container" src="{% static 'img/olist.png' %}">

    </div>
 
</div>

    
{%endblock%}
  