 {% load static %}

<nav class="navbar bg-primary bg-gradient">
            <div class="container">
                <a href="." class="navbar-brand">
                    <figure>
                        <h2 class="display-6 fw-bold bold text-white">Olist</h2></span>
                    </figure>
                </a>
                <ul class="navbar-nav flex-row fw-bold">
                    <li class="nav-item px-3"><a class="nav-link text-white" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item px-3"><a class="nav-link text-white" href="{% url 'subscription:subscription-list' %}">Palestras</a></li>
                    <li class="nav-item px-3"><a class="nav-link text-white" href="https://olist.com/planos/">Planos</a></li>
                    <li class="nav-item px-3"><a class="nav-link text-white" href="https://olist.com/sobre-o-olist/">Sobre nos</a></li>
                    <form method="get" action="{% url 'subscription:search' %}">
                            <div class="field has-addons">
                                <div class="control">
                                    <input type="text" class="input" placeholder="Search..." name="query">
                                </div>
                                <div class="control">
                                    <button class="button primary is-uppercase">Search</button>
                                </div>
                            </div>
                        </form>
            </div>
        </nav>